<div class="content_display">
  <div class="title">
    <%= @sub.title %>
  </div>
  <div class="description">
    <%= @sub.description %>
  </div>
  <div class="moderator">
    Moderated By:     
    <%= @sub.moderator.username %>
  </div>
  <form class="" action="<%= subs_url %>" method="post">
    <input type="hidden" name="_method" value="get">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label>
      <input type="submit" class="button" value="All Subs">
    </label>
  </form>
</div>

